__pycache__
build
dist
*.env
design1.png
temp.txt
notes.txt
test.txt
tests.txt
regex.txt
requests.txt
profiles.json
favorites.json
testKivy1.py
testKivy2.py
testKivy2.kv
testKivyScraperNews.py
testKivyScraperNews.kv
testScrapeTwitter.py
testScrapeTwitter.txt
testOU.py
thumbnails